@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
body{
    background-color: antiquewhite;

}
*{
    margin: 0;
    color: azure;
    padding: 0;
}
#input{
    color: black;
    font-weight: 700;
    width: 40vw;
    border: 2px solid rgb(33, 1, 1);
    border-radius: 6px;
}
.fa-search{
    position: relative;
    top: 3px;
    left: 4px;
}

nav ul{
    display: flex;
    color: azure;
    align-items: center;
    list-style-type: none;
    height: 40px;
    background-color: black;
}
nav ul li{
    padding: 0 8px;
}
nav ul .logo img{
    height: 40px;
    border-radius: 50%;
    padding: 0 12px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}
.main{
    min-height: 70vh;
    background-color: rgb(118, 75, 75);
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 90vw;
    border-radius: 12px;
    padding: 34px;
    background-image: url(./wp10461860.webp);
    /* background-repeat: no-repeat;
        transform: scaleX(-1); 
        overflow: inherit;
        overflow-y: hidden;
         */
         

}
.songlist{
    /* font-size: 12px; */
    height: 40px;
    background-color: rgb(233, 241, 241);
    width: 340px;
    display: flex;
    margin: 7px 0;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
@media only screen and (max-width: 634px) {
    .songlist{
        width: 50vw;
    }
}
@media only screen and (max-width: 530px) {
    .songlist {
        font-size: 12px;

    }
}
@media only screen and (max-width: 420px) {
    .songlist {
        font-size: 9px;

    }
}
.songlist span,.songlist span i{
    color: black;
    /* opacity: 3; */
    font-weight: 600;
}
.songlist span i{
    cursor: pointer;
    margin-left: 6px;
}
.songlist img{
    height:  38px;
    /* margin: 0 23px; */
    border-radius: 45px;
}


.bottom{
    position: sticky;
    /* cursor: pointer; */
    height: 56px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#songbar{
    width: 80vw;
    margin-top: 7px;
    margin-bottom: 4px;
    cursor: pointer;
    height: 4px;
    z-index: 1;
}
.fa-solid{
    margin: 6px 0px;
    cursor: pointer;
}
div.songplayer{
    opacity: 0;
        transition: opacity 0.4s ease-in;
}
.songplayer img{
    height: 45px;
    position: absolute;
    left: 9vw;
    top: 7px;
    z-index: -1;
    /* opacity: 0;
    transition: opacity 1s ease-in; */
}
#disp{
    height: 260px;
    width: 260px;
    border: 15px solid rgb(9, 6, 6);
    border-radius: 50%;
    
}
.disc{
    animation: animate 20s linear infinite;
        transform-origin: center center;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.songposter img {
    position: absolute;
    top: 250px;
    left: 420px;
}
@media only screen and (max-width: 700px) {
    #disp{
        display: none;
    }
        
}
@media only screen and (min-width: 809px) {
    .songposter img {
        position: absolute;
        left:500px
    }
}
@media only screen and (max-width: 600px){
#clock{
display: none;
}
}
#currentplay{
    position: absolute;
    left: 17vw;
        top: 19px;

}
@media only screen and (max-width: 696px){
    #currentplay{
        display: none;
    }
}
#timer{
    position: absolute;
    right: 10vw;
    font-weight: 800;
    font-size: 22px;
}

